body {
	font-family: 'Montserrat', sans-serif;
	background-color:#FFFFFF;
	text-align: left;
	max-width: 900px;
	margin-left: 3em;
	margin-right: auto;}
	
p {
	font-family: helvetica;
	line-spacing: 2em;}