body {
	font-family: 'Cabin', sans-serif;;
	background-color: #1D3557;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;}
h1 {
	font-size: 2.5em;
	padding-bottom: 0.5em;}
p {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5em;}
ul a {
	text-decoration: none;
	color: #E63946;}
#main {
	padding: 3em;
	background-color: #FFFFFF;}
#images {
	margin-left: 5em;
	margin-right: auto;}