body {
	font-family: "proxima-nova";
	background-color:#FFFFFF;
	text-align: justify;
	margin-left: 0em;
	margin-right: auto;
	margin-top: 0px;}

header h1 {
	margin: 20px;
	float: left;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: 700px;
}

.current, .current a {
	text-decoration: bold;
	color: #C4273E;
}
.nav {
	float: right;
	margin-top: 45px;
}

ul {
	list-style-type: none;
	margin-top: 0em;
    margin-right: 2em;
    overflow: hidden;
    background-color: #FFFFFF;}
li {
	float: right;
	padding-left: 1em; 
	padding-right: 1em;}
li a {
	font-family: arial;
	letter-spacing: 1px;
	display: block;
	color: black;
	padding: 14px 16px;
	text-decoration: none;}

.about-container {
 	max-width: auto;
 	margin-top: 40px;}
.about-container p{
	max-width: 390px;
	line-height: 1.5em;}
.about-container h2 {
	margin-top: 50px;}

.socialmedia ul {
	padding-left: 0;}
.socialmedia li{
	float: left;
	padding-left: 0;
}
.socialmedia li a{
	text-decoration: none;
	padding-left: 0;
}

.container {
	margin-top: 40px;}
.container figure {
	background-color: #FFFFFF;
	padding: 20px;}
.container figure img {
	opacity: 1;
	transition: .3s ease-in-out;}
.container figure:hover img {
	opacity: .5;}


.image-container {
	margin-top: 40px;}
.image-container figure {
	background-color: #FFFFFF;
	padding-left: 100px;
	margin: auto;}

footer {
	font-size: 12px;
	color: #909090;
	text-align: center;
	padding: 3em;
}

/* https://css-tricks.com/snippets/css/clear-fix/ */
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */